@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import '_vars.scss';
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
}

a{
    text-decoration: none;
    color: #2196F3;
}
.no-select {
    pointer-events: none;
    -webkit-touch-callout: none;
    user-select: none;
}

.text-center {
    text-align: center;
}

.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: 500;
}

/*
**************************************
******CUSTOM SCROLLBAR****************
**************************************
*/

*::-webkit-scrollbar-track {
    background: #FFF;
}

*::-webkit-scrollbar {
    width: 15px;
    background: #FFF;
}

*::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
}

/*
**************************************
******LAYOUT UTILITIES****************
**************************************
*/

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}
.row.bottom{
    margin-bottom: 100px;
}

.col {
    display: flex;
    flex-direction: column;
}
.row.centered, .col.centered {
    justify-content: center;
    align-items: center;
}

.row.padded, .col.padded{
    padding: 15px;
}

/*
**************************************
******ALL POKEMON PAGE****************
**************************************
*/

.pokemon-list-filter-card {
    width: 75vw;
    max-width: 1000px;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 15px 15px;
    .checkboxes-container {}
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pokemon-card {
    animation: fadein 2s;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    padding-bottom: 10px;
    width: 150px;
    text-transform: capitalize;
    text-decoration-color: #FFF; // text-shadow: rgb(51, 51, 51) 2px 2px 2px;
    text-align: center;
    .image-wrapper {
        img {
            margin: auto;
            max-width: 140px;
            height: 100px;
            padding: 10px 5px;
        }
    }
    .name {
        padding: 10px 0px 5px 0px;
        display: block;
    }
}
.pokemon-card.highlight{
    box-shadow: 0px 0px 15px 5px rgba(97,176,255,1);
}

.name{
    text-transform: capitalize;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-image{
    max-height: 250px;
    max-width: 250px;
}

.detail-image{
    margin-right: 25px;
}

.evo-col{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/**********************************
************TYPE DISPLAYS**********
***********************************
*/

.type-display {
    font-family: "Fira Sans", "Trebuchet MS", "Tahoma", "Ubuntu", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    color: #FFF;
    padding: 5px 10px;
    margin: 1px 2px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration-color: #FFF;
    text-decoration: none;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
}

.type-label {
    text-transform: capitalize;
}

@each $type,
$colors in $types {
    .type-#{$type} {
        background: #{map-get($colors, bg)};
        background-image: linear-gradient(#{map-get($colors, bg)},
        #{map-get($colors, bg2)});
        border-color: #{map-get($colors, border)};
    }
    .type-label.#{$type} {
        span {
            color: #{map-get($colors, bg)};
        }
    }
}

/**********************************
************STAT DISPLAYS**********
***********************************
*/

.stat-table {
    max-width: 700px;
}

.bar-col {
    min-width: 150px !important;
}

.stat-bar {
    height: 20px !important;
    width: 100%;
}

@each $stat,
$colors in $stats {
    .stat-bar.stat-#{$stat} {
        background: #{map-get($colors, bg)} !important;
        div {
            background: #{map-get($colors, fill)};
        }
    }
}