@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-weight: 300;
}

h1 {
    font-size: 3em;
}

.no-select {
    pointer-events: none;
    -webkit-touch-callout: none;

    user-select: none;
}
/*
**************************************
******LAYOUT UTILITIES****************
**************************************
*/
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*
**************************************
******ALL POKEMON PAGE****************
**************************************
*/

.pokemon-card {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    border-radius: 0px !important;
    font-family: "Fira Sans", "Trebuchet MS", "Tahoma", "Ubuntu", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    font-size: 10px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration-color: #FFF;
    text-shadow: rgb(51, 51, 51) 2px 2px 2px;

    img {
        max-width: 100px;
    }
}

.inner-pokemon-card {
    border: 5px solid rgba(255, 255, 255, 0.30);
}

.inner-pokemon-card:hover {
    background: rgba(255, 255, 255, 0.25) !important;
    border: 5px solid rgba(255, 255, 255, 0.50);
    cursor: pointer;
}

/**********************************
************TYPE DISPLAYS**********
***********************************
*/

.type-display {
    font-family: "Fira Sans", "Trebuchet MS", "Tahoma", "Ubuntu", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    font-size: 10px;
    color: #FFF;
    padding: 5px 10px;
    margin: 1px 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration-color: #FFF;
    text-decoration: none;
    text-shadow: rgb(51, 51, 51) 1px 1px 1px;
}

$types: ( 
    normal: (bg:#8a8a59, bg2: #a8a878, border: #79794e),
    fire: (bg:#f08030, bg2: #f08030, border: #b4530d),
    water: (bg:#6890f0, bg2: #386ceb, border: #1753e3),
    electric: (bg:#f8d030, bg2: #f0c108, border: #c19b07),
    grass: (bg:#78c850, bg2: #5ca935, border: #4a892b),
    ice: (bg:#98d8d8, bg2: #69c6c6, border: #45b6b6),
    fighting: (bg:#c03028, bg2: #9d2721, border: #82211b),
    poison: (bg:#a040a0, bg2: #803380, border: #662966),
    ground: (bg:#8a8a59, bg2: #d4a82f, border: #aa8623),
    flying: (bg:#a890f0, bg2: #9180c4, border: #7762b6),
    psychic: (bg:#f85888, bg2: #f61c5d, border: #ba083d),
    bug: (bg:#a8b820, bg2: #8d9a1b, border: #616b13),
    rock: (bg:#b8a038, bg2: #93802d, border: #746523),
    ghost: (bg:#705898, bg2: #554374, border: #413359),
    dragon: (bg:#7038f8, bg2: #4c08ef, border: #3d07c0),
    steel: (bg:#b8b8d0, bg2: #9797ba, border: #7a7aa7),
    dark: (bg:#705848, bg2: #513f34, border: #362a23),
    fairy: (bg:#e898e8, bg2: #de6ede, border: #d547d5),
    curse: (bg:#68a090, bg2: #4e7c6f, border: #41685d),
);

@each $type, $colors in $types {
    .type-#{$type} {
        background: #{map-get($colors, bg)};
        background-image: linear-gradient(#{map-get($colors, bg)}, #{map-get($colors, bg2)});
        border-color: #{map-get($colors, border)};
    }
}
